{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
    button {
        border-radius : 8px;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .element {
        position: relative;
        top: 50%;
        transform: translateY(60%);
        text-align: center;
    }
</style>
<head>

    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>

<body style="background:pink" >
    <div class="element">
    <h1 style="color:">Welcome to</h1>
    <img src="{% static 'image/star.png' %}" style="height:150px; width:350px"><br>
        <button type="button" class="btn btn-xl" style=" border-color: #F50C68; background-color: #F50C68; color: rgb(246,246,247); font-family: Verdana;font-size: large" onclick="window.location.href='{% url 'update-status:index' %}'"><b>ENTER</b></button>
    </div>

</body>

</html>