﻿{% extends "Add_Friend/Layout/base.html" %}

{% block content %}
<style>
body {
    margin: 0;
}

<<<<<<< HEAD
.column {
    float: left;
    padding: 10px;
}

.left {
  width: 30%;
}

.middle {
width: 15%;
}

.right {
  width: 55%;
}

.row:after {
    content: "";
    display: table;
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.column {
    float: left;
    padding: 10px;
}

.left {
  width: 30%;
}

.middle {
width: 15%;
}

.right {
  width: 55%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    border-radius: 8px;
    text-align: center;
}

}
=======
>>>>>>> 6f373251f98f37364fa87ff1fdc6e02b7c3bbd5a
</style>
<h1 class="main-title">What's Up Buddy?</h1>
<hr/>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="add-friend/">
            <h2>Add Friend</h2>
            {% csrf_token %}
            {{ add_form }}
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Add">
            <br>
        </form>
    </div>
</section>
<section name="my-friend" id="my-friend">
    <div class="container">
        <h2 class="my-friend-title">MY FRIEND</h2>
		<form id="form" method="POST" action="del-friend/">
            {% csrf_token %}
        <div class="flex">
            {% if listfriend %}
                {% for data in listfriend %}
                    <div class="flex-item">
                        <div class="friend-list">
                            <div class="friend-list-Name">
                                {{data.Name}}
                            </div>
                            <div class="friend-list-date-added">
                                {{data.Date}}
                            </div>
                            <div class="friend-list-URL">
                               <a href="{{data.URL}}">{{data.URL}}</a>
                            </div>
                            <div class="friend-list-delete">
                                <div class="friend-list-delete-button" data-id="{{data.id}}"></div>
								<button type="submit" name="del_id" value="{{data.id}}" > Unfriend </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oh dear...</strong> You don't have any friends.
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}        
