<!-- Fixed navbar -->
{% load static %}
<style>
  nav ul li a{
    text-align: center;
  }
</style>
<nav  class="navbar navbar-default navbar-static-top" style="background:pink">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="padding-bottom: 5px; padding-top: 0px;" href="{% url 'update-status:index' %}"><img src="{% static 'image/star.png' %}" width="130px" height="60px"s></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'update-status:index' %}"><b> Status </b></a> </li>
        <li><a href="{% url 'profile-page:index' %}"><b> Profile </b></a> </li>
        <li><a href="{% url 'Add-Friend:index' %}"><b> Friends </b></a> </li>
        <li><a href="{% url 'dashboard:index' %}"><b> Stats </b></a> </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
