/*base*/
body {
    background: linear-gradient(to right, #8BE4E4, #91D7F5, #82ECE7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*update-status*/
#status-input form{
  width: 400px;
  margin: 15px auto;
  position: relative;
  align-content: center;
  padding: 8px;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 30px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}

#status-input form > h2{
  color: #2C3E50;
  font-family: Open Sans; 
  font-weight: bold;
  font-size: 25px;
}

#status-input form > .updatestatus-form-input, #status-input form > status-input-textarea{
    padding: 10px;
    border: 1px solid #ccc;
    align-content: center;
    border-radius: 30px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 20px;
}

#status-input form{
  width: 60%;
  align-content: center;
  margin: 15px auto;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 30px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 15px 30px;
  box-sizing: border-box;
  position: relative;
}

#status-input form > h2{
  color: #2C3E50;
  font-family: Open Sans; 
  font-weight: bold;
}

#status-input form > .updatestatus-form-input, #status-input form > .updatestatus-form-textarea{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-bottom: 10px;
    align-content: center;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 20px;
}

#submit {
  width: 100px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: 60px;
  margin-left: 60px;
}


.flex-item {
  padding: 10px;
  flex-basis: 100%;
  width: 100%;
}

.display-picture {
  flex-basis: 30%;
  float: none; 
  margin-right: 0px; 
}

.name-status-date {
  padding-left: 50px;
  flex-basis:40%;
  margin-bottom: 15px;
  margin-left: 0px;
}

.author-name {
  font-family: Open Sans;
  font-size: 23px;
  font-weight: bold;
}

.status-message {
  font-family: Open Sans;
  margin-left: 0px;
  font-size: 17px;
  width: 100%;
  word-wrap: break-word;
}

.date-created {
  margin-left: 0px;
  color: black;
  margin-bottom: 10px;
}

#popupBoxPosition {
  top: 0; 
  left: 0; 
  position: fixed; 
  z-index: 10;
  width: 100%; 
  height: 120%;
  background-color: rgba(0,0,0,0.7); 
  display: none;
}
.popupBoxWrapper {
  width: 550px;
  margin: 250px auto; 
  text-align: left;
}
.popupBoxContent {
  background-color: #FFF; 
  padding: 15px;
}

.commentBtn{
  margin-left: 20px;
}
=======

.flex-item {
  padding: 10px;
  flex-basis: 100%;
  width: 100%;
}

.display-picture {
  flex-basis: 30%;
  float: none; 
  margin-right: 0px; 
}

.name-status-date {
  padding-left: 50px;
  flex-basis:40%;
  margin-bottom: 15px;
  margin-left: 0px;
}

.author-name {
  font-family: Open Sans;
  font-size: 23px;
  font-weight: bold;
}

.status-message {
  font-family: Open Sans;
  margin-left: 0px;
  font-size: 17px;
  width: 100%;
  word-wrap: break-word;
}

.date-created {
  margin-left: 0px;
  color: black;
  margin-bottom: 10px;
}

#popupBoxPosition {
  top: 0; 
  left: 0; 
  position: fixed; 
  z-index: 10;
  width: 100%; 
  height: 120%;
  background-color: rgba(0,0,0,0.7); 
  display: none;
}
.popupBoxWrapper {
  width: 550px;
  margin: 250px auto; 
  text-align: left;
}
.popupBoxContent {
  background-color: #FFF; 
  padding: 15px;
}

.commentBtn{
  margin-left: 20px;
}

@media only screen and (max-width: 768px){
  #status-input form {
    width: 100%;
  }
  .flex-item {
    flex-basis: 100%;
  }
  .flex-friend-item {
    flex-basis: 100%;
  }
  .flex{
    align-content: center;
    text-align: center;
  }
  .display-picture{
    margin-right: 0px;
    float: none;
    padding: 0px;
  }
  .display-title {
    margin-left: 0px;
    text-align: center;
  }

}



.row {
    margin-left: -15px;
    margin-right: -15px;
	position: absolutely;
}

=======
}



.row {
    margin-left: -15px;
    margin-right: -15px;
	position: absolutely;
}


.to-do-list .to-do-list-delete {
  background: #e45;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  width: 50%;
  height: 50px;
  bottom: 5px;
  position: absolute;
  cursor: pointer;
  z-index: -1;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
/* } */

.to-do-list:hover .to-do-list-delete {
  bottom: -20px;
}

.to-do-list:hover {
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.4);
  transform: translate(0, -5px);

}

.to-do-list-delete:hover{
  box-shadow: 0 0 5px 10px 	#FF69B4;
}

/*responsive*/
@media only screen and (max-width: 768px){
  #status-input form {
    width: 100%;
  }
  .flex-item {
    flex-basis: 100%;
  }
  .flex{
    align-content: center;
    text-align: center;
  }
  .display-picture{
    margin-right: 0px;
    float: none;
    padding: 0px;
  }
  .display-title {
    margin-left: 0px;
    text-align: center;
  }
}

}

.to-do-list-delete:hover{
  box-shadow: 0 0 5px 10px 	#FF69B4;
}

/*responsive*/
@media only screen and (max-width: 768px){
  #status-input form {
    width: 100%;
  }
  .flex-item {
    flex-basis: 100%;
  }
  .flex{
    align-content: center;
    text-align: center;
  }
  .display-picture{
    margin-right: 0px;
    float: none;
    padding: 0px;
  }
  .display-title {
    margin-left: 0px;
    text-align: center;
  }
}

