{% extends "dashboard/layout/base.html" %}

{% block content %}
<div class="flex">
	<div class="flex-item">
		<div class="display-picture">
			<img src="https://www.shareicon.net/data/256x256/2016/02/19/721761_people_512x512.png" style="border-radius: 50%; display: block; margin: 0 auto; margin-right: 20px; float: left;" width="200px" height="200px">
		</div>
		<div class="display-title" style="padding: 30px;">
			<h4 style="text-transform: uppercase; font-family: Open Sans; font-weight: bold">Dashboard &amp; Stats</h4>
			<h1 style="margin-top: 1px; margin-left: 20px; font-family: Open Sans; font-weight: bold">{{ name }}</h1>
			<p style="font-size: 20px; font-family: Open Sans"><strong>{{ friendsCount }}</strong> friends <strong>{{ statusCount }}</strong> posts</p>			
		</div>
	</div>	
</div>
<hr/>

<section name="latest-post" id="latest-post">
	<h3><strong>Latest Post</strong></h3>
	<hr/>
	<h3 style="font-family: Open Sans; font-weight: bold;">"{{ latestPost.description }}"</h3>
	<p style="font-family: Open Sans; color: black;">Posted on {{ latestPost.created_date }}</p>
</section>
{% endblock %}