body{
  margin-top: 70px;
}

/* Custom navbar style */
.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

/* Textarea not resizeable */
textarea {
    resize:none
}
section{
  min-height: 600px;
}
/* animation for title*/

.main-title{
  -webkit-animation: colorchange 1s infinite;
  -webkit-animation-direction: alternate;
  text-align: center;
  font-family:'Architects Daughter'
  
}


/*colorchange animation*/ 


@-webkit-keyframes colorchange {
    0% {
        -webkit-text-stroke: 5px #FFEFD5;
    letter-spacing: 0;
    }
  50% {
    -webkit-text-stroke: 7.5px  #1fc8db;
  }
    100% {
        -webkit-text-stroke: 10px  	#DDA0DD;
    letter-spacing: 18px;
    }

 
}
/* styling wrapper form */

 
#input-list{
  background: linear-gradient(to left, #FF1493,#FF69B4,#FFC0CB );
}
/* styling form */
#input-list form{
  width: 600px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}
/* title form styling, what does '>' means ? */
#input-list form > h2{
  font-family:'Architects Daughter';
  font-size: 1.5em;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
/* input and textarea form styling, what does ',' means ? */
#input-list form > .add-form-input, #input-list form > .add-form-textarea{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}
/* styling footer */
footer p{
  text-align: center;
  padding-top: 10px;
}

/* responsive styling, max-width indicates that this css rule will only works with a maximal of 768px screen. If it's more than 768px, then the rule will be ignored. */
@media only screen and (max-width: 768px) {
  #input-list form {
      width: 290px;
  }
}


#my-friend{
  background:linear-gradient(to top ,#9400D3 0%,#DB7093 55% );
}
#my-friend .my-friend-title{
  font-family:'Architects Daughter';
  font-size: 40px;
  margin-bottom: 1em;
  color: #2C3E50;
  text-align: center;
}

.friend-list{
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 15;
  margin-bottom: 60px;  
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.friend-list:after{
    content:"";
    display:block;
    height:0px; /* Which is the padding of div.container */
    background: #fff;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-item{
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}

.friend-list .friend-list-Name {
  font-size: 30px;
  font-weight: 700;
  padding: 10px 10px 0;
}
.friend-list .friend-list-date-added {
  font-size: 15px;
  padding: 0 10px;
}
.friend-list .friend-list-URL {
  padding: 10px 25px;
  z-index: 15;
  background: #fff;
  height: 125px;
  text-align: center;
  overflow: auto;
  font-size: 20px;
}
.friend-list .friend-list-delete {
  background: black;
  color: black;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 50px;
  bottom: 1px;
  position: absolute;
  cursor: pointer;
  z-index: -1;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.friend-list .friend-list-delete {
  bottom: -50px;
}
