.navbar-static-top {
  margin-bottom: 19px;
}

/*Textarea not resizeable*/
textarea {
    resize:none
}

body {
  min-height: 2000px;
  background: linear-gradient(to right, #8BE4E4, #91D7F5, #82ECE7);
}