{% extends "profile_page/layout/base.html" %}

{% block content %}
<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.column {
    float: left;
    padding: 10px;
}

.left {
  width: 30%;
}

.middle {
width: 15%;
}

.right {
  width: 55%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    border-radius: 8px;
    text-align: center;
}
</style>
<h1>Profile</h1>
<div>
    <p style="text-align:center; margin-top:0px; margin-bottom:0px; padding:0px;">
    <img align="center" src="https://www.shareicon.net/data/256x256/2016/02/19/721761_people_512x512.png" alt="people icon" height="120" width="120">
    <h2 align="center">{{ name }}</h2>
    </p>
</div>
<section name="profile">
<div class="row">
  <div class="column left">
  </div>
  <div class="column middle">
    <article><b>Birthday</b></article><br>
    <article><b>Gender</b></article><br>
    <article><b>Expertise</b></article><br>
    <article><b>Description</b></article><br>
    <article><b>Email</b></article>
  </div>
  <div class="column right">
    <article>{{ birthday }}</article><br>
    <article>{{ gender }}</article><br>
    <script>
    	var exp = {{ expertise|safe }};
        var i=0;
        while (exp.length) {
  			var tempExp = exp.pop();
  			document.write('<button class="button" style="background:pink;">' + tempExp + "</button>" + " ");
		}
    </script><br><br>
    <article>{{ description }}</article><br>
    <article>{{ email }}</article><br>
  </div>
</div>
</section>
{% endblock %}



