{% extends "update_status/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block title %} LingIn: Update Status {% endblock %}
{% block content %}
<style>
body{
margin: 0;
}
</style>
    <section name="status-input" id="status-input">
	
    	<div>	
    		<form id="form" method="POST" action="add_todo">
    			<h2>What's happening?</h2>
    			<br>
    			{% csrf_token %}
    			{{ todo_form }}
    			<br>
    			<input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Post">
    			<br>
    		</form>
    	</div>
    </section>
	<section name="status">
		<div class="container">
			<!-- <h2 class="my-list-title" style="align">My Status</h2> -->
			<form id="form" method="POST" action="del-status/">
			{% csrf_token %}
			
			<div class="flex">
				{% if todo %}
                {% for data in todo %}
						<div class="flex-item">
							<div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-1">
								<br>
									<div class="display-picture">
										<img src="https://www.shareicon.net/data/256x256/2016/02/19/721761_people_512x512.png"  style="border-radius: 50%; display: block; margin: 0 auto" width="70px" height="70px">
									</div>
								</div>
								<div class="col-sm-9">
			
										<div class="status-message">
											{{ data.description }}
										</div>
										<div class="date-created" style="font-family: Open Sans; font-weight: bold;">
											{{ data.created_date }}
										</div>
										<div class="to-do-list-delete">
                                <div class="to-do-list-delete-button" data-id="{{data.id}}"></div> 
								<button type="submit" name="del_id" value="{{data.id}}"> Delete </button>
                            </div>
								 </div>
								 
                    </div>
					</br>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> There is no status yet.
            </div>
            {% endif %}
        </div>
    </div>
</section
{% endblock %}